@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

:root {
  --purple:      #9951D4;
  --light-white: #EBDAF9;
  --white:       #FFFFFF;
  --gray:        #544D5A;
  --black:       #000000;
  --yellow:      #FEDF01;
}

* {
  font-family: "Tilt Warp", sans-serif;
}
